doctype
html(lang="ko")
  head
    meta(charset="utf-8")
    title KDOG
    meta(http-equiv='X-UA-Compatible', content='IE=edge')    
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, shrink-to-fit=no')

      
    link(rel='shortcut icon', href='/images/favicon.png')
    
    link(rel='stylesheet', href='/assets/font-awesome-4.7.0/css/font-awesome.min.css')    
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/atom-one-dark.min.css')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/jquery-contextmenu/2.5.0/jquery.contextMenu.min.css')
    link(rel='stylesheet', href='/styles/css/sweetalert.css')
    link(rel='stylesheet', href='/styles/css/global.css', type='text/css')
    
    script(src='https://code.jquery.com/jquery-3.1.1.slim.min.js', integrity='sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n', crossorigin='anonymous')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery-contextmenu/2.5.0/jquery.contextMenu.min.js')
    script(src='//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.5.0/highlight.min.js')
    script.
      hljs.initHighlightingOnLoad();
    script(src='/js/sweetalert.min.js')
    script(src='/js/demo.js')
    
      
