nav#leftnav.unfolded.docs
  li(onclick='location.href="/"')
    .text ⇦ Codings
  li.empty-page(onclick='location.href="/docs/empty-page"')    
    .text Empty Page1
  li.empty-page2(onclick='location.href="/docs/empty-page2"')    
    .text Empty Page2
  li.empty-page3(onclick='location.href="/docs/empty-page3"')    
    .text Empty Page3
  li.layout(onclick='location.href="/docs/layout"')    
    .text Layout
  li.colors(onclick='location.href="/docs/colors"')    
    .text Colors
  li.typography(onclick='location.href="/docs/typography"')    
    .text Typography
  li.buttons(onclick='location.href="/docs/buttons"')    
    .text Buttons
  li.list-table(onclick='location.href="/docs/list-table"')    
    .text list table
  li.modals(onclick='location.href="/docs/modals"')    
    .text Modals
  li.elements(onclick='location.href="/docs/elements"')    
    .text Elements
  li.form-controls(onclick='location.href="/docs/form-controls"')    
    .text Form Controls
  li.sweetalert(onclick='location.href="/docs/sweetalert"')    
    .text Sweetalert
  
  
  
  
