nav#leftnav.unfolded.docs
  li(onclick='location.href="/"')
    .text ⇦ Codings
  li.empty-page(onclick='location.href="/docs/empty-page"')    
    .text Empty Page
  li.empty-page2(onclick='location.href="/docs/empty-page2"')    
    .text Empty Page2
  li.layout(onclick='location.href="/docs/layout"')    
    .text Layout
  li.colors(onclick='location.href="/docs/colors"')    
    .text colors
  li.typography(onclick='location.href="/docs/typography"')    
    .text Typography
  li.buttons(onclick='location.href="/docs/buttons"')    
    .text Buttons
  li.list-table(onclick='location.href="/docs/list-table"')    
    .text list table
  li.elements(onclick='location.href="/docs/elements"')    
    .text Elements
  li.form-controls(onclick='location.href="/docs/form-controls"')    
    .text Form Controls
