nav#leftnav.unfolded
  li(onclick='foldNav()')
    .symbol.toogle-btn
      img(src='/images/icons/nav-close.svg')    
  li.today-stat(onclick='location.href="/today/checkin"')
    .symbol
      img(src='/images/icons/nav-fire.svg')
    .text 예약현황
  li.room-chart(onclick='location.href="/room-chart"')
    .symbol
      img(src='/images/icons/nav-bars.svg')
    .text 객실현황
  li.stock-table
    .symbol
      img(src='/images/icons/nav-stock.svg')
    .text 재고표
  li.reports
    .symbol
      img(src='/images/icons/nav-report.svg')
    .text 리포트
  li.room-manage(onclick='location.href="/room-manage"')
    .symbol
      img(src='/images/icons/nav-rooms.svg')
    .text 객실관리
  li.sales-info(onclick='location.href="/sales-info/property"')
    .symbol
      img(src='/images/icons/nav-globe.svg')
    .text 판매정보
  li.plugins
    .symbol
      img(src='/images/icons/nav-plugins.svg')
    .text 부가서비스
  li.payment
    .symbol
      img(src='/images/icons/nav-payment.svg')
    .text 정산
  li(onclick='location.href="/docs/"')
    .text.float-none.text-center ⇨ DOCS
    
  
