#sub-menu
  h4.title 
    img.icon(src='/images/icons/puzzle-black.svg')
    | 부가서비스
  ul
    li.bp(onclick='location.href="/plugin/bp"') 실시간예약창
    li.gds(onclick='location.href="/plugin/gds"') 판매대행
    li.key-in(onclick='location.href="/plugin/key-in"') 수기결제
    li.sms(onclick='location.href="/plugin/sms"') 문자발송
    
