#sub-menu
  h4.title 
    img.icon(src='/images/icons/chart-black.svg')
    | 부가서비스
  ul
    li.total(onclick='location.href="/report/total"') 종합 리포트
    li.agency(onclick='location.href="/report/agency"') 에이전시 분석
    li.roomtype(onclick='location.href="/report/roomtype"') 객실별 분석
    
