#sub-menu
  h4.title 
    img.icon(src='/images/icons/fire-black.svg')
    | 예약현황
  ul
    li.checkin(onclick='location.href="/today/checkin"') 체크인/체크아웃
    li.reservation(onclick='location.href="/today/reservation"')  들어온 예약
    li.clean(onclick='location.href="/today/clean"')  청소현황
