#sub-menu
  h4.title 
    img.icon(src='/images/icons/cal-black.svg')
    | 정산
  ul
    li.pg(onclick='location.href="/payment/pg"') 결제대행 내역
    li.gds(onclick='location.href="/payment/gds"') 판매대행 내역
    li.transfer(onclick='location.href="/payment/transfer"') 정산 내역
    li.deposit(onclick='location.href="/payment/deposit"') 예치금 사용내역
