#sub-menu
  h4.title 
    img.icon(src='/images/icons/setting-black.svg')
    | 설정
  ul
    li.company(onclick='location.href="/setting/company"') 업체정보
    li.step(onclick='location.href="/setting/step"') 스탭관리
    li.cms 채널매니저설정
    li.contract(onclick='location.href="/setting/contract"') 계약정보
    li.subscribe(onclick='location.href="/setting/subscribe"') 요금제 설정
