#sub-menu
  h4.title 
    img.icon(src='/images/icons/globe-black.svg')
    | 판매정보
  ul
    li.property(onclick='location.href="/sales-info/property"') 숙소정보
    li.rooms(onclick='location.href="/sales-info/rooms"') 객실정보
