#r-window.modal
  .modal-board
    .title-bar 유인나 - 3개의 객실
    section.customer
      .header        
        .title
          img(src='/images/icons/gray-male-user.svg')
          span 고객정보
        .num #1121567
        .clear-fix
      .content
        .form-group
          label 고객명
          input(type='text')
        
        
      
      
