#topbar
  .left-wrapper
    a.logo(href='#')
      img(src='/images/logo.png')
    a.company-name(href='#') 판교 라마다호텔
    input.search-box(type='text', placeholder="이름 연락처 이메일 에이전시 메모")
  .right-wrapper
    .toptab.account 김매니저
    ul#account-layer.pop-layer.simplemenu
      li
        .icon
          img(src='/images/icons/user.svg')
        | 김매니저            
      li
        .icon                
        | 한스킴
      li
        .icon   
        | 야간담당
      .menu-divider
      li(onclick='location.href="/login"')
        .icon
          img(src='/images/icons/lock.svg')
        | 로그아웃
      .menu-divider
      li
        .icon
          img(src='/images/icons/check.svg')
        | 한국어
      li
        .icon                
        | English
      .menu-divider
      li
        .icon
          img(src='/images/icons/support.svg')
        | 파트너센터
      li
        .icon
          img(src='/images/icons/speech.svg')
        | 튜토리얼
          
    .toptab.setting(onclick='location.href="/setting/company"')
      img(src='/images/icons/setting.svg')
    .toptab.globe
      img(src='/images/icons/globe.svg')
      .badge 22
    ul#globe-layer.pop-layer.listbox
      li(style='padding-top:20px').text-center
        img.icon(src='/images/icons/trash.svg')                
        | 알림 모두삭제
      li
        a.close
        .title Hostelworld 새로운 예약
        p 
          | 김빛나(2인) 더블룸
          br
          | 2017-06-11(금) 3박
          br
          | ₩360,000
          br
          span.text-xsmall 오전 10:23
      li
        a.close
        .title 네이버 새로운 예약
        p 
          | 김빛나(2인) 더블룸
          br
          | 2017-06-11(금) 3박
          br
          | ₩360,000
          br
          span.text-xsmall 오전 10:23
      li
        a.close
        .title 해외카드 취소
        p 
          | 총금액: ₩20,000
          br
          | 취소금액: 20,000
          br
          | 취소사유: 예약취소
          br
          span.text-xsmall 오전 10:23
      li
        a.close
        .title Hostelworld 새로운 예약
        p 
          | 김빛나(2인) 더블룸
          br
          | 2017-06-11(금) 3박
          br
          | ₩360,000
          br
          span.text-xsmall 오전 10:23
      li
        a.close
        .title 네이버 새로운 예약
        p 
          | 김빛나(2인) 더블룸
          br
          | 2017-06-11(금) 3박
          br
          | ₩360,000
          br
          span.text-xsmall 오전 10:23
      li
        a.close
        .title 해외카드 취소
        p 
          | 총금액: ₩20,000
          br
          | 취소금액: 20,000
          br
          | 취소사유: 예약취소
          br
          span.text-xsmall 오전 10:23      
    .toptab.notice
      img(src='/images/icons/bell.svg')           
      .badge 2
    ul#notice-layer.pop-layer.listbox
      li(style='padding-top:20px').text-center
        img.icon(src='/images/icons/trash.svg')                
        | 알림 모두삭제
      li
        a.close
        .title 이제 판매사를 선택하세요!
        p 
          | 판매대행을 할 때, 이제 판매사를 선택할 수 있습니다. 선호하는 판매사를 선택해 보세요
          br
          span.text-xsmall 오전 10:23
      li
        a.close
        .title 성수기 가격을 성정해 주세요
        p 
          | 성수기가 다가오고 있습니다. 성수기가격이 설정되어 있는지 확인해 주세요!
          br
          span.text-xsmall 오전 10:23
