include includes/header.pug
body(class='login')
  .login-wrapper 
    h1.margin 회원가입
    .row
      .col-6
        .form-group
          label 관리자 이름
          input(type='text')
      .col-6
        .form-group
          label 연락처
          input(type='text')
      
    .form-group
      label 이메일 주소
      input(type='email', placeholder='email@example.com')
    .row
      .col-6
        .form-group
          label 비밀번호
          input(type='password')
          .counter 0/30
      .col-6
        .form-group
          label 비밀번호 확인
          input(type='password')          
      
    .devider
    .row
      .col-6(style='width:300px')
        input#c1(type='checkbox', name='cc')
        label(for='c1')
          span
          | 서비스이용약관에 동의합니다.
      .col-6.text-right(style='width:100px')
        a.link(onclick='toggleFold("#sevice-agreement")')
          //- "$(#sevice-agreement)"
          i.fa.fa-sort
          span 약관보기
          
    .margin
    #sevice-agreement.folder.folded
      .readonly-textbox
        pre.
          자리 서비스이용약관    2015년 2월 2일
          
          제1조 (목적) 이 약관은 (주)자리웍스(이하 “회사”)가  제공하는 인터넷관련 서비스(이하 “서비스”)를 이용함에 있어 회사와 이용자(이하 “파트너”)의 권리·의무 및 책임사항을 규정함을 목적으로 합니다.
          
          제2조 (정의)
          “자리”란 파트너의 숙박업소를 이용하려는 자가 파트너의 홈페이지에서 예약 및 결제할 수 있도록 회사가 파트너에게 예약이 가능한 페이지를 제공하고, 예약 및 결제서비스, 예약대행, 데이터 분석 기능을 제공하는 프로그램을 홈페이지에 설치하는 등 회사가 파트너에게 제공하는
    .row
      .col-6(style='width:300px')
        input#c2(type='checkbox', name='cc')
        label(for='c2')
          span
          | 개인정보이용약관에 동의합니다.
      .col-6.text-right(style='width:100px')
        a.link(onclick='toggleFold("#private-agreement")')
          i.fa.fa-sort
          span 약관보기
      
    .margin
    #private-agreement.folder.folded
      .readonly-textbox
        pre.
          개인정보보호약관    2015년 2월 2일

          개인정보처리방침 변경 등에 고지의 의무
          회사는 고객의 개인정보보호와 정보주체자의 권익보장을 위해 최선의 노력을 다하고 있습니다. 회사는 [개인정보보호법] 관련조항과 [정보통신망 이용촉진 및 정보보호에 관한법률]의 기준에 따라 “개인정보처리방침"을 수립하여 이를 준수하고 있습니다. 
          고객의 개인정보가 어떠한 목적과 절차로 수집 이용되고 있며 개인정보보호를 위해 어떠한 조치가 취해지고 있는지 다음과 같이 알려드립니다. 본 개인정보처리방침을 개정하는 경우에는 회사 웹사이트를 통하여 사전에 고지 하겠습니다.
        
    
    .margin
    a.btn.btn-white(href='/join-03') 다음으로
    span.empty
    a.btn.btn-dark(href='/join-01') 이전 단계로
