include includes/header.pug
body
  include includes/topbar.pug  
  .wrapper
    include includes/leftnav.pug
    
    #content.unfolded(name='payment', page='transfer')
      .left-wrapper
        include includes/menu-payment.pug
            
        .left-box
          h4.title
            i.fa.fa-search
            | 검색
          .form-group.small
            .box-label
              label 검색조건              
              .select-wrapper
                select                  
                  option 정산요청일
                  option 정산일
          .form-group.small
            .box-label
              label 시작일
              input(type='text')
          .form-group.small
            .box-label
              label 종료일
              input(type='text')
          .form-group.small
            .box-label
              label 상태
              .select-wrapper
                select
                  option 전체
                  option 정산완료
                  option 정산대기중
          a.btn.btn-small.btn-gray.full-width 검색
                     
      .board
        .title-bar
          h4 정산 내역
        
        .text-right
          a.btn.btn-white.btn-small
            i.fa.fa-file-o
            span CVS 다운로드
          span.empty
          a.btn.btn-white.btn-small
            i.fa.fa-print
            span 프린트
        
        .margin-2x
          
        table.table
          thead
            tr
              th 구분
              th 정산번호
              th 정산요청
              th 정산일
              th 거래건수
              th.text-right 총금액
              th.text-right 수수료(VAT포함)              
              th.text-right 정산액
              th.text-right 상태
          tbody
            tr
              td 결제대행
              td 
                a.link(onclick='') P10865
              td 2017-06-02
              td -
              td 9건
              td.text-right ₩ 2,285,200
              td.text-right ₩ 87,980
              td.text-right ₩ 2,197,220
              td.text-right
                .tag.yellow 정산대기중
            tr
              td 판매대행
              td 
                a.link(onclick='') G10121
              td 자동정산
              td -
              td 15건
              td.text-right ₩ 4,105,000
              td.text-right ₩ 615,750
              td.text-right ₩ 3,489,250
              td.text-right
                .tag.yellow 정산대기중
            tr
              td 결제대행
              td 
                a.link(onclick='') P10864
              td 2017-06-01
              td 2017-06-24
              td 9건
              td.text-right ₩ 2,285,200
              td.text-right ₩ 87,980
              td.text-right ₩ 2,197,220
              td.text-right
                .tag.green 정산완료
            tr
              td 판매대행
              td 
                a.link(onclick='') G10119
              td 자동정산
              td 2017-05-24
              td 15건
              td.text-right ₩ 4,105,000
              td.text-right ₩ 615,750
              td.text-right ₩ 3,489,250
              td.text-right
                .tag.green 정산완료
            tr.summary
              td.text-right(colspan='4') TOTAL
              td 48건
              td.text-right ₩ 12,780,400
              td.text-right ₩ 1,407,460
              td.text-right ₩ 11,372,940
              td              
              
              
