include includes/header.pug
body
  include includes/topbar.pug
  .wrapper
    include includes/leftnav.pug

    #content.unfolded(name='plugin', page='key-in')
      
      .left-wrapper
        include includes/menu-plugin.pug
              
      .board
        .title-bar
          h4 수기결제
        .content-wrapper
          .info
            | 수기결제 수수료: 3.50% + VAT
            br
            | 간편 카드결제를 이용하시려면 결제대행 이용동의가 필요합니다.
            br
            | 아래의 버튼을 눌러 이용동의를 완료하시기 바랍니다.
            br
            br
            a.btn.btn-reverse.btn-small(href='/setting/contract/pg-agree01') 결제대행 이용동의
            
          .margin
          
          .form-group
            label 수기결제 설정
            .select-wrapper
              select
                option 수기결제를 사용합니다.
                option 수기결제를 사용하지 않습니다.
          
          p 예약창에서 '카드'를 클릭하면 고객의 카드번호와 유효기간을 입력하여 간단히 결제를 할 수 있습니다.
              
          .devider.end-page
          a.btn.full-width 저장하기
