include includes/header.pug
body
  include includes/topbar.pug
  
  .wrapper
    include includes/leftnav.pug
    
    #content.unfolded(name='report', page='agency')
      .left-wrapper
        include includes/menu-report.pug
                     
      .board.report
        .title-bar
          h4 에이전시 분석
        
        .report-layout.full-width
          .row
            .col-6
              h2 에이전트별 매출              
                span.small 에이전트 별 매출 추이를 보여줍니다
            .col-6.controls
              a.btn.btn-white.btn-small 이번주
              a.btn.btn-white.btn-small.active 지난주
              a.btn.btn-white.btn-small 6개월
              a.btn.btn-white.btn-small 1년
              span.empty-2x
              a.btn.btn-small.btn-white
                i.fa.fa-angle-left.fa-lg
              a.btn.btn-small.btn-white
                i.fa.fa-angle-right.fa-lg
            
          .margin-2x
          img(src='/images/temp-chart11.png', style='width:100%')
        
                    
        .margin-2x
