include includes/header.pug
body
  include includes/topbar.pug
  .wrapper
    include includes/leftnav.pug

    #content.unfolded(name='room-chart')
              
      .board.full-width.room-chart
        #date-bar
          .leftbox
            .this-month              
              .year 2017
              .month 06              
            .controls
              a.btn.btn-small.btn-white
                i.fa.fa-angle-left.fa-2x
              a.btn.btn-small.btn-white
                i.fa.fa-calendar-o
              a.btn.btn-small.btn-white
                i.fa.fa-angle-right.fa-2x
              a.btn.btn-small.btn-dark(style='padding-left:4px; padding-right:4px') TODAY
          .date-wrapper
            .date-box
              .date 20
              .day tue
            .date-box
              .date 21
              .day wed
            .date-box.today
              .date 22
              .day thu
            .date-box.weekend
              .date 23
              .day fri
            .date-box.weekend
              .date 24
              .day sat
            .date-box
              .date 25
              .day sun
            .date-box
              .date 26
              .day mon
            .date-box
              .date 27
              .day tue
            .date-box
              .date 28
              .day wed
            .date-box
              .date 29
              .day thu
            .date-box.weekend
              .date 30
              .day fri
            .date-box.weekend
              .date 7/1
              .day sat
            .date-box
              .date 2
              .day sun
            .date-box
              .date 3
              .day mon
            .date-box
              .date 4
              .day tue
            .date-box
              .date 5
              .day wed
            .date-box
              .date 6
              .day thu
            .date-box.weekend
              .date 7
              .day fri            
            .date-box.weekend
              .date 8
              .day sat
            .date-box
              .date 9
              .day sun
            .date-box
              .date 10
              .day mon
            .date-box
              .date 11
              .day tue
            .date-box
              .date 12
              .day wed
            .date-box
              .date 13
              .day thu
            .date-box.weekend
              .date 14
              .day fri
            .date-box.weekend
              .date 15
              .day sat
            .date-box
              .date 16
              .day sun
            .date-box
              .date 17
              .day mon
            .date-box
              .date 18
              .day tue
            .date-box
              .date 19
              .day thu
            .date-box.weekend
              .date 20
              .day fri
            .date-box.weekend
              .date 21
              .day sat
            .date-box
              .date 22
              .day sun
            .date-box
              .date 23
              .day mon
            .date-box
              .date 24
              .day tue
            .date-box
              .date 25
              .day thu
            .date-box.weekend
              .date 26
              .day fri
            .date-box.weekend
          .clear-fix
        .roomtype-title 디럭스룸        
        .room-line(draggable='true')
          .room-name 501호          
          .chart-wrapper
            ul
              - var r1 = 0
              while r1 < 40          
                li.rec(name= r1++)
                  .price 12만
          .clear-fix
            
        .room-line(draggable='true')
          .room-name 502호          
          .chart-wrapper
            ul
              - var r2 = 0
              while r2 < 40          
                li.rec(name= r2++)
                  .price 12.5만
          .clear-fix
        .room-line(draggable='true')
          .room-name 503호          
          .chart-wrapper
            ul
              - var r3 = 0
              while r3 < 40          
                li.rec(name= r3++)
                  .price 12만
          .clear-fix
          
        .roomtype-title 스위트룸        
        .room-line(draggable='true')
          .room-name Long room name word-break
          .chart-wrapper
            ul
              - var r4 = 0
              while r4 < 40          
                li.rec(name= r4++)
                  .price 12만
          .clear-fix
        .room-line(draggable='true')
          .room-name Luxury Room          
          .chart-wrapper
            ul
              - var r5 = 0
              while r5 < 40          
                li.rec(name= r5++)
                  .price 12.5만
          .clear-fix
        .room-line(draggable='true')
          .room-name 한글로 이름이 긴 경우 Word-Break
          .chart-wrapper
            ul
              - var r6 = 0
              while r6 < 40          
                li.rec(name= r6++)
                  .price 12만          
          .clear-fix
            
        .roomtype-title 여성4인 도미토리
        
        .dorm-wrapper
          .dorm-name 4인 여성 도미토리 1
          .beds
            .room-line(draggable='true')
              .room-name 침대1
              .chart-wrapper
                ul
                  - var r7 = 0
                  while r7 < 40          
                    li.rec(name= r7++)
                      .price 2만
              .clear-fix
            .room-line(draggable='true')
              .room-name 침대2
              .chart-wrapper
                ul
                  - var r8 = 0
                  while r8 < 40          
                    li.rec(name= r8++)
                      .price 2만
              .clear-fix
            .room-line(draggable='true')
              .room-name 창가쪽 침대
              .chart-wrapper
                ul
                  - var r9 = 0
                  while r9 < 40          
                    li.rec(name= r9++)
                      .price 2만
              .clear-fix
        
        .dorm-wrapper
          .dorm-name 4인 여성 도미토리 2
          .beds
            .room-line(draggable='true')
              .room-name 침대1
              .chart-wrapper
                ul
                  - var r7 = 0
                  while r7 < 40          
                    li.rec(name= r7++)
                      .price 2만
              .clear-fix
            .room-line(draggable='true')
              .room-name 침대2
              .chart-wrapper
                ul
                  - var r8 = 0
                  while r8 < 40          
                    li.rec(name= r8++)
                      .price 2만
              .clear-fix
            .room-line(draggable='true')
              .room-name 창가쪽 침대
              .chart-wrapper
                ul
                  - var r9 = 0
                  while r9 < 40          
                    li.rec(name= r9++)
                      .price 2만
              .clear-fix
            
          
            
            
