include includes/header.pug
body
  include includes/topbar.pug
  .wrapper    
    include includes/leftnav.pug
    
    #content.unfolded(name='room-manage', tab='reorder')
      .left-wrapper
        #sub-menu
          h4.title 
            img.icon(src='/images/icons/door-black.svg')
            | 객실관리
          ul
            li.active 디럭스룸
            li  트윈룸
            li  스위트룸
            li  여성4인 도미토리        
          .padding(style='padding-top:0; margin-left:10px')
            a.link.text-small(href='javascript:') + 객실타입추가
            
      
      .board
        .tab-menu
          .tab.basic(onclick='location.href="/room-manage"') 기본정보
          .tab.reorder(onclick='location.href="/room-manage/reorder"') 객실등록/순서변경
          .tab.detail(onclick='location.href="/room-manage/detail"') 날짜별 가격
          
        .content-wrapper
          
          h2.margin 디럭스룸 5개의 객실
          
          .text-right
            a.btn.btn-dark.btn-small
              i.fa.fa-plus
              span 객실추가
              
          table.table.no-border
            thead
              tr
                th.text-center(style='width: 50px') 순서
                th 객실명
                th
            tbody
              tr(draggable='true')
                td.reorder.text-center
                  h2.font-normal 1
                  i.fa.fa-bars.orderbtn
                td
                  .form-group.no-margin
                    input(type='text', value='객실 1')
                td.text-right
                  a.link
                    i.fa.fa-close.text-gray.fa-lg
              tr(draggable='true')
                td.reorder.text-center
                  h2.font-normal 2
                  i.fa.fa-bars.orderbtn
                td
                  .form-group.no-margin
                    input(type='text', value='객실 2')
                td.text-right
                  a.link
                    i.fa.fa-close.text-gray.fa-lg
              tr(draggable='true')
                td.reorder.text-center
                  h2.font-normal 3
                  i.fa.fa-bars.orderbtn
                td
                  .form-group.no-margin
                    input(type='text', value='객실 3')
                td.text-right
                  a.link
                    i.fa.fa-close.text-gray.fa-lg
              tr(draggable='true')
                td.reorder.text-center
                  h2.font-normal 4
                  i.fa.fa-bars.orderbtn
                td
                  .form-group.no-margin
                    input(type='text', value='객실 4')
                td.text-right
                  a.link
                    i.fa.fa-close.text-gray.fa-lg
              tr(draggable='true')
                td.reorder.text-center
                  h2.font-normal 5
                  i.fa.fa-bars.orderbtn
                td
                  .form-group.no-margin
                    input(type='text', value='객실 5')
                td.text-right
                  a.link
                    i.fa.fa-close.text-gray.fa-lg
                             
          .devider.end-page
          a.btn.full-width(href='#') 저장하기
