include includes/header.pug
body
  include includes/topbar.pug
  .wrapper
    include includes/leftnav.pug
  
    #content.unfolded(name='setting', page='subscribe')
      
      .left-wrapper
        include includes/menu-setting.pug 
              
      .board
        .title-bar
          h4 요금제 설정
        .content-wrapper
          h1 준비중 입니다.
