include includes/header.pug
body
  include includes/topbar.pug
  .wrapper
    include includes/leftnav.pug
  
    #content.unfolded(name='setting', page='step')
      
      include includes/menu-setting.pug    
              
      .board
        .title-bar
          h4 스탭관리    
        .content-wrapper
          table.table
            thead
              tr
                th 이름
                th 이메일
                th 연락처
                th 권한
                th
            tbody
              tr
                td 안주성
                td ramada.pangyo@gmail.com
                td 010-2268-5399
                td 관리자
                td.text-right
                  a.btn.btn-xsmall.btn-white(onclick='location.href="/setting/step/edit"')
                    i.fa.fa-pencil
                    span 수정
              tr
                td 노리코짱
                td norikojjang@gmail.com
                td 010-3006-7889
                td 스탭
                td.text-right
                  a.btn.btn-xsmall.btn-white(onclick='location.href="/setting/step/edit"')
                    i.fa.fa-pencil
                    span 수정
          .text-right
            a.btn.btn-small(onclick='location.href="/setting/step/edit"')
              i.fa.fa-plus
              span 새로운 스탭 추가
            
//- #step-update.modal
  .modal-board
    .modal-header 
      h4.tigle 스탭 업데이트      
        a.close(href='javascript:closeModal()')
          img(src='/images/icons/close-x.svg')
    .modal-body
      .row
        .form-group.col-2-left
          label 이름
          input(type='text', value='안주성')
        .form-group.col-2-right
          label 연락처
          input(type='text', value='010-2268-5399')
        .clear-fix
      .form-group
        label 이메일
        input(type='email', value='jay.ahn@tport.io')
      
      .devider
      .form-group.form-inline
        span(style='width:350px') 해당 스탭이 비밀번호를 잊으셨나요?
        span(style='width:170px')
          a.btn.btn-dark.full-width
            i.fa.fa-key
            span 재설정 메일 보내기
      .devider
      .row.select-list
        .col-2-left 스택관리 메뉴
        .col-2-right
          .form-group            
            .select-wrapper
              select
                option 접근불가
                option 보기가능
                option 수정가능
        .clear-fix
      .row.select-list
        .col-2-left 업체관리/정산메뉴      
        .col-2-right
          .form-group            
            .select-wrapper
              select
                option 접근불가
                option 보기가능
                option 수정가능
        .clear-fix
      .row.select-list
        .col-2-left 객실관리 메뉴
        .col-2-right
          .form-group            
            .select-wrapper
              select
                option 접근불가
                option 보기가능
                option 수정가능
        .clear-fix
      .row.select-list
        .col-2-left 가격관리 메뉴
        .col-2-right
          .form-group            
            .select-wrapper
              select
                option 접근불가
                option 보기가능
                option 수정가능
        .clear-fix
      .row.select-list
        .col-2-left 채널매니저/판매대행 메뉴
        .col-2-right
          .form-group            
            .select-wrapper
              select
                option 접근불가
                option 보기가능
                option 수정가능
        .clear-fix      
      .margin
      .info 
        i.fa.fa-info-circle.fa-lg
        | 수정된 권한은 다음 로그인부터 적용됩니다.
      .devider
      .form-group
        label 메모
        textarea(rows='3')
          
            
    .modal-footer 모달푸터
    
