include includes/header.pug
body
  include includes/topbar.pug
  .wrapper
    include includes/leftnav.pug
  
    #content.unfolded(name='setting', page='step')
      
      .left-wrapper
        include includes/menu-setting.pug
              
      .board.step-update
        .title-bar        
          a.btn.btn-small.btn-white-gray(href='/setting/step')
            i.fa.fa-reply
            span 스탭 리스트로 돌아가기      
        
        .content-wrapper
          .row
            .form-group.col-6
              label 이름
              input(type='text', value='안주성')
            .form-group.col-6
              label 연락처
              input(type='text', value='010-2268-5399')
            
          .form-group
            label 이메일
            input(type='email', value='jay.ahn@tport.io')
          
          .devider
          .row.select-list
            .col-6 해당 스탭이 비밀번호를 잊으셨나요?
            .col-6
              a.btn.btn-dark.full-width
                i.fa.fa-key
                span 재설정 메일 보내기
               
          .devider
          .row.select-list
            .col-6 역할
            .col-6
              .form-group            
                .select-wrapper
                  select
                    option 스탭
                    option 관리자
                    option 정산담당
            
          .devider
          .row.select-list.margin
            .col-6 스탭관리 메뉴
            .col-6
              .form-group            
                .select-wrapper
                  select
                    option 접근불가
                    option 보기가능
                    option 수정가능
            
          .row.select-list.margin
            .col-6 업체관리/정산메뉴      
            .col-6
              .form-group            
                .select-wrapper
                  select
                    option 접근불가
                    option 보기가능
                    option 수정가능
            
          .row.select-list.margin
            .col-6 객실관리 메뉴
            .col-6
              .form-group            
                .select-wrapper
                  select
                    option 접근불가
                    option 보기가능
                    option 수정가능
            
          .row.select-list.margin
            .col-6 가격관리 메뉴
            .col-6
              .form-group            
                .select-wrapper
                  select
                    option 접근불가
                    option 보기가능
                    option 수정가능
            
          .row.select-list
            .col-6 채널매니저/판매대행 메뉴
            .col-6
              .form-group            
                .select-wrapper
                  select
                    option 접근불가
                    option 보기가능
                    option 수정가능
                  
          .margin-2x
          .info 
            i.fa.fa-info-circle.fa-lg
            | 수정된 권한은 다음 로그인부터 적용됩니다.
          .devider
          .form-group
            label 메모
            textarea(rows='3')
          .row.select-list
            .col-6 해당 스탭계정을 삭제 하시게습니까?
            .col-6
              a.btn.btn-dark.full-width
                i.fa.fa-trash
                span 삭제하기
            
          
          .devider.end-page        
          a.btn.btn-long 저장하기
          span.empty
          a.btn.btn-white-gray
            i.fa.fa-reply
            span 취소하기
          
        
