
// Webfont
@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css)
// @import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css)

// ---------- VARIABLES ---------- //

$color-brand: #D9480F
$color-priority: #FD7E14
$color-dark: #495057
$color-reverse: #3BC9DB

$color-booking: #D9480F
$color-booked: #FD7E14
$color-paid: #F1C40F
$color-checkin: #2ECC71
// $color-checkout: #3498DB 체크아웃 파란색버젼
$color-checkout: lighten($color-dark, 40%)
$color-ect: #9B59B6
$color-disabled: #697077

$white-gray: #F1F3F5
$gray: #C9D3DC
$red: lighten(#F03E3E, 5%)

$font-color-defualt: rgba(73, 80, 87, 0.5)
$font-color-thic: rgba(73, 80, 87, 0.7)

$font-size-default: 11pt
$font-size-small: 10pt
$font-size-xsmall: 9pt
$font-size-large: 12pt

$font-thin: 100
$font-light: 300
$font-normal: 400
$font-medium: 500
$font-bold: 700


// ---------- MIXINS  ---------- //

=inner-shadow($color)
  -moz-box-shadow:    inset 1px 1px 0 $color
  -webkit-box-shadow: inset 1px 1px 0 $color
  box-shadow:         inset 1px 1px 0 $color

=border-radius($radius)
  -webkit-border-radius: $radius
  -moz-border-radius:    $radius
  -ms-border-radius:     $radius
  border-radius:         $radius

=darker-background($value)
  background-color: rgba(0, 0, 0, $value)

=lighten-background($value)
  background-color: rgba(255, 255, 255, $value)


// ---------- QUICK STYLE CSS  ---------- //

// Layout colors
.bg-brand
  background: $color-brand !important
.text-brand
  color: $color-brand !important
.bg-priority
  background: $color-priority !important
.text-priority
  color: $color-priority !important
.bg-dark
  background: $color-dark !important
.text-dark
  color: $color-dark !important
.bg-reverse
  background: $color-reverse !important
.text-reverse
  color: $color-reverse !important
.bg-gray
  background: $gray !important
.text-gray
  color: $gray !important
.bg-white-gray
  background: $white-gray !important
.text-white-gray
  color: $white-gray !important
.bg-red
  background: $red !important
.text-red
  color: $red !important
.text-white
  color: white !important
.bg-white
  background: white !important

//Status colors
.bg-booking
  background: $color-booking
.text-booking
  color: $color-booking !important
.bg-booked
  background: $color-booked
.text-booked
  color: $color-booked !important
.bg-paid
  background: $color-paid
.text-paid
  color: $color-paid !important
.bg-checkin
  background: $color-checkin
.text-checkin
  color: $color-checkin !important
.bg-checkout
  background: $color-checkout
.text-checkout
  color: $color-checkout !important
.bg-ect
  background: $color-ect
.text-ect
  color: $color-ect !important
.bg-disabled
  background: $color-disabled
.text-disabled
  color: $color-disabled !important

// Borders
.border
  border: 1px solid $gray
.border-light
  border: 1px solid $white-gray

// Text Sizes
.text-defualt, .text-defualt *
  font-size: $font-size-default
.text-small, .text-small *
  font-size: $font-size-small
.text-xsmall, .text-xsmall *
  font-size: $font-size-xsmall
.text-large, .text-large *
  font-size: $font-size-large

// Font Weights
.font-thin
  font-weight: $font-thin
.font-light
  font-weight: $font-light
.font-normal
  font-weight: $font-normal
.font-medium
  font-weight: $font-medium
.font-bold
  font-weight: $font-bold

// Font Thic
.font-color-defualt
  color: $font-color-defualt
.font-color-thic
  color: $font-color-thic
// Transforms
.uppercase
  text-transform: uppercase
.lowercase
  text-transform: lowercase
.capitalize
  text-transform: capitalize
.no-transform
  text-decoration: none

// Text Aligns
.text-center
  text-align: center !important
.text-right
  text-align: right !important
.text-left
  text-align: left !important

.float-left
  float: left !important
.float-right
  float: right !important
.float-none
  float: none !important
.clear-fix
  clear: both

// Padding & Margin
.padding-thin
  padding: 10px
.padding
  padding: 20px
.padding-2x
  padding: 40px
.margin
  margin-bottom: 20px
.margin-2x
  margin-bottom: 40px
.margin-thin
  margin-bottom: 10px
.no-margin
  margin: 0 !important

.nowrap
  white-space: nowrap

// ---------- INITAILIZE  ---------- //

body,p,ul,li,h1,h2,h3,h4,h5,h6
  margin: 0
  padding: 0

body,body *
  font-family: 'Noto Sans KR', sans-serif
  font-weight: $font-normal
  font-size: $font-size-default
  color: $font-color-defualt
  text-rendering: optimizeLegibility
  // text-rendering: geometricPrecision

body
  position: relative
  background-color: $color-dark

-moz-selection
  color: white
  background: $color-reverse
::selection
  color: white
  background: $color-reverse

input:focus, select:focus, textarea:focus, button:focus
  outline: none

h1,h2,h3,h4,h5,h6
  color: $font-color-thic
  text-transform: uppercase

h1,h2
  font-weight: $font-light
  span.small
    color: lighten($font-color-defualt, 30%)
    font-weight: $font-light
    padding: 0 0 0 10px
h1
  font-size: 22pt
  margin-top: -8px
  &.lined
    border-bottom: 1px solid $white-gray
    padding-bottom: 5px
    margin-bottom: 40px
h2
  font-size: 17pt
h3
  font-size: 13pt
  color: #b1bac1
  font-weight: $font-light

h4
  font-weight: $font-medium
a
  @extend .noselect
  text-decoration: none
  cursor: pointer
  i.fa
    &:hover
      opacity: 0.8
a.link
  color: $color-reverse
  &:hover
    opacity: 0.8
    text-decoration: underline
  span, i.fa
    color: $color-reverse
  i.fa
    margin-right: 5px
p
  line-height: 1.5em
  font-weight: $font-light
table
  border-collapse: separate
  border-spacing: 0
  width: 100%
strong
  font-weight: $font-medium
  color: $font-color-thic
ul,li
  list-style: none
.icon
  display: inline-block
  position: relative
  top: -0.1em
  vertical-align: middle
  padding-right: 0.5em

.noselect
  -webkit-touch-callout: none
  -webkit-user-select: none
  -khtml-user-select: none
  -moz-user-select: none
  -ms-user-select: none
  user-select: none

.tooltip
  position: relative
  width: 15px
  height: 15px
  margin-left: 4px
  background: url(/images/icons/question.svg) 0 0 no-repeat
  .desc
    display: none
    position: absolute
    top: -5px
    left: -5px
    width: 240px
    background: url(/images/icons/question.svg) no-repeat 5px 5px $color-dark
    color: rgba(255, 255, 255, 0.8)
    font-size: $font-size-xsmall
    padding: 6px 10px 6px 30px
    +border-radius(2px)
    a
      color: white
      font-size: $font-size-xsmall
      text-decoration: underline
  &:hover
    .desc
      display: block
.devider
  clear: both
  width: 100%
  border-bottom: 1px solid $white-gray
  margin-top: 28px
  margin-bottom: 28px
  &.end-page
    padding-top: 48px
.spacing
  clear: both
  padding: 20px
span.empty
  display: inline-block
  width: 1em
span.empty-2x
  display: inline-block
  width: 2em


// ---------- FORM CONTROLS  ---------- //

.form-group
  position: relative
  margin-bottom: 22px
  &.form-inline
    *
      vertical-align: middle
    label
      display: inline-block
      background: $white-gray
      border: 1px solid $gray
      padding: 11px 15px 10px 15px
      margin: 0 -1px 0 0
      font-size: $font-size-small
      white-space: nowrap
    span
      display: inline-block
      color: $font-color-thic
    a
      span
        color: inherit
    input[type='text'], input[type='email'], input[type='password'], input[type='number']
      display: inline-block

      width: auto
      margin: 0 -1px 0 0
    .select-wrapper
      display: inline-block
      min-width: 160px
  .box-label
    position: relative
    label
      position: absolute
      left: 0
      top: 0
      width: 50px
      display: block
      float: left
      background: $white-gray
      border: 1px solid $gray
      border-right: none
      padding: 11px 12px 10px 12px
      overflow-x: hidden
      text-align: center
      font-size: $font-size-small
    input[type='text'], input[type='email'], input[type='password'], input[type='number']
      margin-left: 75px
      width: calc(100% - 77px)
    .select-wrapper
      margin-left: 75px
      width: calc(100% - 101px)
      font-size: $font-size-small
    &.bottom-collapse
      margin-bottom: -1px
      input:focus
        height: 17px
  .inner-text-wrapper
    position: relative
    .inner-text
      position: absolute
      right: 14px
      top: -30px
      opacity: 0.6
      font-size: $font-size-small
      white-space: nowrap
    a.inner-text:hover
      opacity: 1

  label
    display: block
    margin-bottom: 4px
    padding-left: 3px
    font-size: $font-size-xsmall

  input[type='text'], input[type='email'], input[type='password'], input[type='number'], select, button, textarea
    -moz-appearance: none
    -webkit-appearance: none
    appearance: none
    margin: 0
    padding: 0
    color: $font-color-thic

  input[type='text'], input[type='email'], input[type='password'], input[type='number'], textarea
    box-sizing: border-box
    width: 100%
    padding: 11px 12px
    border: 1px solid $gray
    font-size: $font-size-default
    &::placeholder
      color: $gray
      font-weight: $font-light
    &::-webkit-input-placeholder
      color: $gray
      font-weight: $font-light
    &::-moz-placeholder
      color: $gray
      font-weight: $font-light
    &:-ms-input-placeholder
      color: $gray
      font-weight: $font-light
    &:-moz-placeholder
      color: $gray
      font-weight: $font-light
    &:focus
      border: 2px solid $color-priority


  textarea
    line-height: 1.5em
    padding: 10px 12px 8px 12px
    &:focus
      padding: 9px 11px 7px 11px

  input[type='text'], input[type='email'], input[type='password'], input[type='number']
    height: 42px

  input[disabled]
    background-color: $white-gray
    color: $font-color-defualt
    cursor: not-allowed

  .select-wrapper
    background: url(/images/icons/triangle.svg) no-repeat right 15px center
    height: 22px
    padding: 9px 11px
    overflow: hidden
    border: 1px solid $gray
    background-color: white
    select
      margin: 0
      padding: 0
      background: transparent
      border: none
      font-size: $font-size-default
      width: 100%
      font-size: $font-size-default
      &[disabled]
        background-color: $white-gray
        color: $font-color-defualt
        cursor: not-allowed
  .counter
    display: block
    position: relative
    top: 3px
    text-align: right
    font-size: 9pt
    height: 0

.form-group.small
  margin-bottom: 10px
  input[type='text'], input[type='email'], input[type='password'], input[type='number']
    height: 34px
    font-size: $font-size-small
    padding: 3px 9px
  .select-wrapper
    background: url(/images/icons/triangle.svg) no-repeat right 8px center
    height: 22px
    padding: 5px 20px 5px 9px
    select
      font-size: $font-size-small
  .box-label
    label
      font-size: $font-size-xsmall
      padding: 7px 6px
    input[type='text'], input[type='email'], input[type='password'], input[type='number']
      margin-left: 63px
      width: calc(100% - 65px)
    .select-wrapper
      margin-left: 63px
      width: calc(100% - 97px)
      font-size: 11pt


input
  &[type="checkbox"]
    display: none
    + label
      @extend .noselect
      cursor: pointer
      margin-right: 2em
      span
        display: inline-block
        width: 17px
        height: 17px
        margin: -3px 6px 0 0
        vertical-align: middle
        border: 1px solid $gray
        cursor: pointer
        background-color: white !important
    + label:hover
      span
        background: url(/images/icons/checked-hover.svg) 3px 3px no-repeat
    &:checked + label span
      background: url(/images/icons/checked.svg) 3px 3px no-repeat
    &.single
      + label
        margin: 0
  &[disabled]
    + label
      span
        opacity: 0.5
        cursor: not-allowed
        background-color: $white-gray !important
    + label:hover
      span
        background: none

  &[type="radio"]
    display: none
    + label
      @extend .noselect
      cursor: pointer
      margin-right: 2em
      span
        display: inline-block
        width: 18px
        height: 18px
        margin: -3px 6px 0 0
        vertical-align: middle
        border: 1px solid $gray
        border-radius: 9px
        cursor: pointer
        background-color: white !important
    + label:hover
      span
        background: url(/images/icons/checked-hover.svg) 3px 4px no-repeat
    &:checked + label span
      background: url(/images/icons/checked.svg) 3px 4px no-repeat

.checkbox-group
  padding: 30px 0 10px 30px
  background: $white-gray
  .wrapper
    display: inline-block
    width: 167px
    margin-bottom: 20px

.form-group.light
  margin-bottom: 23px
  &.no-margin
    margin-bottom: 6px !important
  input[type='text'], input[type='email'], input[type='password'], input[type='number'], textarea
    width: 100%
    padding: 0 2px 5px 50px !important
    height: 26px
    border: none
    border-bottom: 2px solid lighten($gray, 8%)
    font-size: 13pt
    text-align: right
    &:focus
      border-color: $font-color-thic
  input[disabled]
    background: none
    color: lighten($font-color-defualt, 30%)
    cursor: not-allowed
  input.clickable
    color: darken($color-reverse, 5%)
  textarea
    height: auto
    text-align: left
    margin-top: 20px
    padding: 2px 2px 2px 2px !important
    font-size: 11pt
  label
    position: absolute
    bottom: 0
    left: 1px
    padding: 0
    white-space: nowrap
  textarea + label
    top: 5px
  .select-wrapper
    background: url(/images/icons/triangle.svg) no-repeat right 5px center
    // box-sizing: border-box
    height: 15px
    margin-top: -4px
    padding: 0 0 14px 50px
    overflow: hidden
    border: none
    border-bottom: 2px solid lighten($gray, 8%)
  .select-wrapper select
    margin: 0
    padding-right: 20px
    font-size: 13pt
  &.indent
    margin-left: 40px

.readonly-textbox
  border: 1px solid $gray
  padding: 5px 15px
  background: white
  height: 160px
  overflow-y: auto
  pre
    white-space: pre-line
    font-size: $font-size-xsmall


// ---------- COMPONETS  ---------- //

a.btn
  + a.btn
    margin-left: -1px
  @extend .noselect
  color: white
  height: 22px
  white-space: nowrap
  *
    color: white
  display: inline-block
  vertical-align: middle
  background-color: $color-priority
  border: 1px solid $color-priority
  padding: 9px 15px
  font-size: $font-size-default
  // font-weight: $font-light
  cursor: pointer
  i.fa
    color: white
  &:hover
    background-color: darken($color-priority, 7%)
    border-color: darken($color-priority, 7%)
  &.full-width
    display: block
    text-align: center
  &.btn-long
    width: 400px
    text-align: center
  &.btn-white
    color: $font-color-thic
    *
      color: $font-color-thic
    background: white
    border-color: #eeeeee
    i.fa
      color: $font-color-thic
    &:hover
      background-color: $white-gray
      border-color: $white-gray
  &.btn-white-gray
    color: $font-color-defualt
    *
      color: $font-color-defualt
    background: $white-gray
    border-color: $white-gray
    i.fa
      color: $font-color-defualt
    &:hover
      background-color: darken($white-gray, 3%)
  &.btn-dark
    background-color: lighten($color-dark, 7%)
    border-color: lighten($color-dark, 7%)
    color: darken(white, 15%)
    &:hover
      background-color: lighten($color-dark, 0%)
  &.btn-gray
    background-color: lighten($color-dark, 27%)
    border-color: lighten($color-dark, 27%)
    color: white
    &:hover
      background-color: lighten($color-dark, 20%)
  &.btn-reverse
    background-color: $color-reverse
    border-color: $color-reverse
    color: white
    &:hover
      background-color: darken($color-reverse, 7%)
  &.btn-green
    background-color: #2ECC71
    border-color: #2ECC71
    color: white
    &:hover
      background-color: darken(#2ECC71, 7%)
  &.btn-red
    background-color: $red
    border-color: $red
    color: white
    &:hover
      background-color: darken($red, 7%)
  &.btn-small
    padding: 5px 10px
    font-size: $font-size-small
    height: 20px
    span
      font-size: $font-size-small
  &.btn-xsmall
    padding: 2px 6px
    font-size: $font-size-xsmall
    height: auto
    span
      font-size: $font-size-xsmall
  &.btn-arrow
    position: relative
    top: 6px
    vertical-align: text-top
    padding: 6px 10px 6px 9px
    margin: 0 -1px 0 0
    i.fa.fa-angle-right
      position: relative
      left: 1px
  span
    margin-left: 0.4em
  &.btn-border
    background: white
    border-width: 2px
    color: $color-priority
    span, i.fa
      color: $color-priority
    &:hover
      color: white !important
      background: $color-priority
      span, i.fa
        color: white !important
    &.btn-dark
      color: $color-dark
      span, i.fa
        color: $color-dark
      &:hover
        background: $color-dark
    &.btn-gray
      color: lighten($color-dark, 27%)
      span, i.fa
        color: lighten($color-dark, 27%)
      &:hover
        background: lighten($color-dark, 27%)
    &.btn-reverse
      color: $color-reverse
      span, i.fa
        color: $color-reverse
      &:hover
        background: $color-reverse
    &.btn-green
      color: #2ECC71
      span, i.fa
        color: #2ECC71
      &:hover
        background: #2ECC71
    &.btn-red
      color: $red
      span, i.fa
        color: $red
      &:hover
        background: $red
  &.btn-switch
    border-collapse: collapse
    background-color: $white-gray
    border-color: lighten($gray, 5%)
    color: $gray
    &:hover
      background-color: darken($white-gray, 3%)
    &.on
      background-color: $color-reverse
      border-color: darken($color-reverse, 10%)
      color: white

.badge
  display: inline-block
  font-size: 9pt
  color: white
  width: 16px
  height: 20px
  padding: 1px 3px
  text-align: center
  background-color: $color-priority
  font-weight: $font-light
  +border-radius(13px)
  &.blue
    background: #3498DB
  &.skyblue
    background: #3BC9DB
  &.green
    background: #2ECC71
  &.red
    background: lighten(#F03E3E, 5%)
  &.orange
    background: #FD7E14
  &.yellow
    background: #F1C40F
  &.purple
    background: #9B59B6
  &.gray
    background: lighten($color-dark, 20%)

.tag
  display: inline-block
  background: $color-dark
  padding: 3px 9px 4px 9px
  position: relative
  font-size: 10pt
  margin: -3px 0 -4px 0
  color: white
  white-space: nowrap
  i.fa, span
    color: white
  i.fa
    margin-right: 7px
  &.blue
    background: #3498DB
  &.skyblue
    background: #3BC9DB
  &.green
    background: #2ECC71
  &.red
    background: lighten(#F03E3E, 5%)
  &.orange
    background: #FD7E14
  &.yellow
    background: #F1C40F
  &.purple
    background: #9B59B6
  &.gray
    background: lighten($color-dark, 20%)

.pop-layer
  position: absolute
  background: white
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5)
  &.listbox
    max-height: 600px
    overflow-y: auto
  &.listbox > li
    position: relative
    border-bottom: 1px solid $white-gray
    text-align: left
    cursor: pointer
    &:hover
      background-color: $white-gray
      transition: all 0.5s
    .title
      font-weight: $font-medium
      color: $font-color-thic
      margin-bottom: 7px
    .close
      position: absolute
      top: 15px
      left: 200px
      display: block
      width: 22px
      height: 22px
      background: url(/images/icons/close.svg) 5px 5px no-repeat
      +border-radius(13px)
      opacity: 0.7
      &:hover
        background-color: white
  &.simplemenu
    padding: 11px 0 13px 0
  &.simplemenu > li
    text-align: left
    padding: 9px 20px 7px 20px
    &:hover
      +darker-background(0.05)
    .icon
      top: 0
      width: 30px
  .menu-divider
    width: 100%
    height: 1px
    background-color: $white-gray
    margin: 10px 0 10px 0

.table
  border-spacing: 0
  th
    position: relative
    font-size: $font-size-small
    &.sortable
      cursor: pointer
      &:hover::after, &.desc::after, &.asc::after
        width: 0
        margin-right: -5px
        font-family: FontAwesome
        content: '\f0dc'
        display: inline-block
        vertical-align: middle
        padding-left: 5px
        position: relative
      &.desc::after
        content: '\f0dd'
        top: -4px
      &.asc::after
        content: '\f0de'
        top: 2px

  th,td
    text-align: left
  th
    padding: 0 7px 7px 7px
    border-bottom: 1px solid $gray
  tbody .orderbtn
    display: none
    cursor: move
  tbody td
    padding: 17px 7px
    border-bottom: 1px solid $white-gray
    color: lighten($font-color-thic, 10%)
  &.no-border
    tbody td
      padding: 12px 7px 10px 7px
      border: none
  tbody tr:hover
    background-color: #f8f8f8
    .input, .select-wrapper
      background-color: white
    .reorder
      h2
        display: none
      .orderbtn
        display: inline-block
        height: 22px
        padding-top: 10px
  tr.summary
    td
      background: $white-gray
      font-weight: $font-normal

.pagination
  margin-top: 40px
  text-align: right
  a.btn
    background: white
    border: 1px solid $white-gray
    color: $font-color-defualt
    padding: 8px 11px 7px 11px
    font-size: $font-size-small
    margin-left: -1px
    i.fa-lg
      color: $font-color-defualt
      position: relative
      top: -1px
    &:hover
      background: $white-gray
    &.active
      background: $color-reverse
      color: white
      border-color: $color-reverse

.modal
  position: absolute
  z-index: 1000
  width: 100%
  height: 100%
  left: 0
  top: 0
  .layover
    position: absolute
    left: 0
    top: 0
    width: 100%
    height: 100%
    background: rgba(0,0,0,0.7)
  .modal-board
    position: fixed
    width: 600px
    height: 600px
    left: calc(50vw - 300px)
    top: calc(50vh - 300px)
    background: white
    .modal-header
      padding: 15px 20px
      border-bottom: 1px solid $white-gray
      .title
        float: left
      .close
        float: right
        margin-top: 3px
    .modal-body
      height: 395px
      padding: 40px 40px 0 40px
      margin-bottom: 40px
      overflow-y: auto
    .modal-footer
      text-align: right
      padding: 15px 20px 0 20px
      border-top: 1px solid $white-gray
  &.wide
    .modal-board
      width: 1000px
      left: calc(50vw - 500px)

.info
  position: relative
  font-weight: $font-light
  background: lighten($color-reverse, 35%)
  color: darken($color-reverse, 5%)
  padding: 17px 40px 17px 20px
  line-height: 1.5em
  word-break: keep-all
  i.fa
    padding-right: 7px
  a.link, i.fa
    color: darken($color-reverse, 5%)
    opacity: 0.8
  .close
    position: absolute
    top: 17px
    right: 5px
  &.warning
    background: lighten($red, 30%)
    color: lighten($red, 10%)
    a.link, i.fa
      color: lighten($red, 10%)
      opacity: 0.8

.context-menu
  position: absolute
  z-index: 2000
  width: 100%
  height: 100%
  left: 0
  top: 0
  .layover
    position: absolute
    left: 0
    top: 0
    width: 100%
    height: 100%
  ul
    position: absolute
    left: 0
    top: 0
    display: inline-block
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.3)
    padding: 7px 0 5px 0
    background-color: white
    li
      white-space: nowrap
      padding: 7px 40px 5px 20px
      cursor: pointer
      color: $font-color-thic
      font-size: $font-size-small
      &:hover
        background: $white-gray

.context-menu2
  @extend .context-menu

table.progress-steps
  tr
    td
      background: $white-gray
      padding: 20px 10px 0 20px
      border-right: 4px solid white
      .title, .number
        color: lighten($font-color-defualt, 30%)
      .title
        float: left
        padding-top: 2px
        white-space: nowrap
      .number
        float: right
        font-size: 50pt
        font-family: 'Roboto'
        height: 62px
        margin-top: -18px
        font-weight: $font-medium
      &.active
        background: $color-priority
        .title, .number
          color: white

.top-slide-ui
  box-sizing: border-box
  color: white
  width: 100vw
  z-index: 15
  position: absolute
  top: 0
  left: 0
  background-color: $color-reverse
  padding: 40px
  height: 120px
  white-space: nowrap
  *
    color: white
  span.comment
    font-size: 13pt
    margin-right: 40px
  a.btn
    background: none
    border-color: white
    vertical-align: middle
    opacity: 0.8
    &:hover
      opacity: 1

  .close
    cursor: pointer
    float: right
    padding-top: 10px
    opacity: 0.7
    &:hover
      opacity: 1
  &.show
    top: 0
    transition: all 0.5s
  &.hidden
    top: -120px
    transition: all 0.5s


// ---------- LAYOUTS  ---------- //

.row
  margin: 0 -20px
  .col-1
    width: 8.33%
  .col-2
    width: 16.66%
  .col-3
    width: 25%
  .col-4
    width: 33.33%
  .col-5
    width: 41.66%
  .col-6
    width: 50%
  .col-7
    width: 58.33%
  .col-8
    width: 66.66%
  .col-9
    width: 75%
  .col-10
    width: 83.33%
  .col-11
    width: 91.66%
  .col-12
    width: 100%

  [class*="col-"]
    float: left
    padding: 0 20px
    box-sizing: border-box

.row::after
  content: ''
  clear: both
  display: table

.wrapper
  z-index: 1
  width: 100%
  position: relative

#content
  position: relative
  margin-left: 140px
  padding: 40px
  background-color: $white-gray
  height: 100%
  min-height: calc(100vh - 140px)
  &.folded
    margin-left: 60px
    transition: all 0.5s
  &.unfolded
    margin-left: 140px
    transition: all 0.5s
  &.full-width
    margin-left: 0

#content > .left-wrapper
  width: 240px
  position: absolute
  left: 40px
  top: 40px
  #sub-menu
    background-color: white
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1)
    .title
      padding: 20px 20px 10px 20px
      .icon
        opacity: 0.7
        margin-right: 5px
    ul
      padding-bottom: 12px
      li
        padding: 12px 30px
        @extend .noselect
        cursor: pointer
        &:hover
          +darker-background(0.05)
        &.active
          background-color: $color-priority
          color: white
  .left-box
    background-color: white
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1)
    margin-top: 20px
    padding: 20px
    h4
      margin-bottom: 20px
      i.fa
        margin-right: 5px
    .form-group
      margin-bottom: 10px
      &:last-child
        margin-bottom: 0

.board
  position: relative
  min-width: 700px
  background-color: white
  margin-left: 260px
  padding: 40px
  width: calc(100% - 340px)
  min-height: calc(100vh - 220px)
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1)
  &.full-width
    margin-left: 0
    width: calc(100% - 80px)
  &.centered
    margin: 4vh auto 0 auto
    width: 800px
    min-height: 500px
  .title-bar
    margin: -40px -40px 40px -40px
    padding: 15px 20px
    border-bottom: 1px solid $white-gray
  .content-wrapper
    max-width: 700px
  .tab-menu
    margin: -40px -42px 40px -40px
    border-bottom: 1px solid lighten($gray, 10%)
    background: $white-gray
    .tab
      display: inline-block
      border-right: 1px solid lighten($gray, 10%)
      padding: 18px 20px 14px 20px
      cursor: pointer
      background: white
      color: $color-reverse
      white-space: nowrap
      &:hover
        background: #f8f8f8
      &.active
        font-weight: $font-medium
        border-bottom: 1px solid white
        margin-bottom: -1px
        color: $font-color-thic
        background: white
        font-size: $font-size-large
        padding-bottom: 13px

#topbar
  width: 100%
  position: relative
  z-index: 3
  min-width: 1020px
  height: 60px
  background-color: $color-brand
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.4)


  .left-wrapper
    float: left
    padding: 0 0 0 20px
    min-width: 600px

    *
      float: left
      vertical-align: middle
    .logo img
      width: 51px
      height: 34px
      margin: 16px 20px 0 0
      opacity: 0.9
      &:hover
        opacity: 1
        transition: all 0.5s
    .company-name
      margin: 17px 40px 0 0
      color: rgba(255, 255, 255, 0.8)
      font-size: 13pt
      white-space: nowrap
      &:hover
        color: rgba(255, 255, 255, 0.9)
        transition: all 0.5s
    .search-box
      margin-top: 15px
      width: 220px
      height: 14px
      padding: 8px 13px
      background: url(/images/icons/search.svg) no-repeat right 10px top 8px rgba(255, 255, 255, 0.1)
      +inner-shadow(#B83806)
      +border-radius(21px)
      border: none
      color: white
      $placeholder-color: rgba(255, 255, 255, 0.0)
      &::placeholder
        color: $placeholder-color
      &::-webkit-input-placeholder
        color: $placeholder-color
      &::-moz-placeholder
        color: $placeholder-color
      &:-ms-input-placeholder
        color: $placeholder-color
      &:-moz-placeholder
        color: $placeholder-color
      &:hover
        +lighten-background(0.2)
      &:focus
        +lighten-background(0.2)
        outline: none
        $placeholder-color: rgba(255, 255, 255, 0.4)
        &::placeholder
          color: $placeholder-color
        &::-webkit-input-placeholder
          color: $placeholder-color
        &::-moz-placeholder
          color: $placeholder-color
        &:-ms-input-placeholder
          color: $placeholder-color
        &:-moz-placeholder
          color: $placeholder-color

  .right-wrapper
    position: relative
    float: right
    min-width: 400px
    .toptab
      position: relative
      display: block
      float: right
      width: 40px
      height: 30px
      text-align: center
      padding: 16px 10px 14px 10px
      cursor: pointer
      @extend .noselect
      &.account
        width: auto
        min-width: 48px
        height: 24px
        color: rgba(255, 255, 255, 0.8)
        background: url(/images/icons/male.svg) no-repeat 15px 17px
        padding: 19px 20px 17px 45px
        cursor: pointer
      &:hover, &.active
        +darker-background(0.05)
      > .badge
        position: absolute
        top: 26px
        left: 31px
        border: 2px solid $color-brand
    .pop-layer
      display: none
      top: 60px
      right: 2px
      cursor: pointer
      &.show
        display: block
      &.listbox > li
        width: 192px
        padding: 18px 20px 16px 20px
      &#notice-layer
        right: 60px

#leftnav
  @extend .noselect
  position: absolute
  top: 0
  left: 0
  width: 140px
  cursor: pointer
  > li
    clear: both
    display: block
    width: 140px
    height: 60px
    &:hover
      +darker-background(0.15)
    &.active
      background-color: $color-priority
      .symbol
        opacity: 1
      .text
        color: white
  .symbol
    float: left
    width: 60px
    height: 60px
    opacity: 0.6
  .text
    float: left
    height: 20px
    padding: 20px 0
    color: #ADB0B4
    text-transform: capitalize
  .symbol.toogle-btn
    position: relative
  &.folded
    width: 60px
    overflow-x: hidden
    transition: all 0.5s
    .symbol.toogle-btn
      left: 0
      -ms-transform: rotate(-135deg)
      -webkit-transform: rotate(-135deg)
      transform: rotate(-135deg)
      transition: all 0.5s
  &.unfolded
    width: 140px
    overflow-x: hidden
    transition: all 0.5s
    .symbol.toogle-btn
      left: 80px
      transition: all 0.5s
  &.docs
    > li
      height: 40px
    .text
      text-align: center
      float: none
      font-size: $font-size-default
      padding: 9px 0


// Bottom bar
.bottom-bar
  z-index: 11
  width: calc(100% - 20px)
  padding: 13px 20px 2px 0
  height: 40px
  text-align: right
  position: fixed
  bottom: 0
  background: $color-dark
  .last-update
    display: inline-block
    vertical-align: middle
    font-weight: $font-light
    color: darken(white, 30%)
    white-space: nowrap
  a.link
    vertical-align: middle
    padding-top: 7px
    i.fa, span
      font-weight: $font-light
      color: darken(white, 10%)

// date-bar
#date-bar
  margin: -40px -40px 0 -40px
  border-bottom: 1px solid darken($white-gray, 10%)
  .leftbox
    float: left
    width: 159px
    height: 69px
    border-right: 1px solid $white-gray
    cursor: pointer
    .this-month
      *
        font-family: 'Roboto'
      position: relative
      padding: 9px 15px 0 15px
      .year
        display: block
        float: left
        padding: 18px 0 0 22px
        font-size: 13pt
        color: $font-color-thic
      .month
        display: block
        float: left
        padding: 5px 0 0 10px
        font-size: 28pt
        color: $font-color-thic
        font-weight: $font-normal
    .controls
      display: none
      position: absolute
      top: 0
      left: 0
      a.btn
        height: 15px
        padding: 27px 13px
        border: none
        i.fa
          margin: -6px 0
      .fa-calendar-o
        position: relative
        top: -3px
  &:hover
    .controls
      display: block
  .date-wrapper
    *
      font-family: 'Roboto'
    width: calc(100% - 160px)
    overflow: hidden
    white-space: nowrap
    height: 69px
    .date-box
      position: relative
      display: inline-block
      width: 50px
      height: 51px
      padding-top: 18px
      .date
        text-align: center
        font-size: 14pt
        color: $font-color-thic
        font-weight: $font-light
      .day
        text-align: center
        font-size: 7pt
        letter-spacing: 1px
        margin-top: 4px
        text-transform: uppercase
      &.weekend
        .date, .day
          color: $red
      &.today
        // background-color: lighten($gray, 8%)
        &::after
          content: 'TODAY'
          position: absolute
          font-weight: $font-medium
          color: $font-color-thic
          left: 0
          top: 1px
          font-size: 7pt
          padding: 5px
          width: calc(100% - 10px)
          text-align: center

// Right-slider
.right-slider
  z-index: 10
  position: absolute
  top: 60px
  padding: 40px
  right: 0
  width: 300px
  height: 100%
  background: $color-dark
  h1
    color: white


// Roomchart page
.board.room-chart
  min-height: 100px
  padding-bottom: 0
  margin-bottom: 60px

  .roomtype-title
    padding: 10px 20px
    margin: 0 -40px
    border-bottom: 1px solid darken($white-gray, 10%)
    background-color: $white-gray
    font-size: 10pt
    font-weight: $font-medium

  .room-line
    margin: 0 -40px
    height: 50px
    &:hover
      .room-name
        // background-color: lighten($color-reverse, 40%)
        background-color: lighten($white-gray, 2%)
    &:last-child
      border-bottom: none
    &.unassigned
      .assign
        width: 160px
        float: left
        padding: 0
        a.btn
          padding: 14px 0
          opacity: 0.9
          span
            font-weight: $font-light
    .room-name
      @extend .noselect
      float: left
      width: 160px
      height: 15px
      padding: 16px 10px 33px 20px
      line-height: 18px
      font-size: 10pt
      border-right: 1px solid $gray
      border-bottom: 1px solid $white-gray
      box-sizing: border-box
      color: $font-color-thic
      white-space: nowrap
      text-overflow: ellipsis
      overflow: hidden
      cursor: default
      &:hover
        overflow-x: visible
        text-overflow: clip
        white-space: normal
        padding: 7px 10px 42px 20px
        transition: all 0.5s
      &.no-move
        padding: 16px 10px 33px 20px

    .chart-wrapper
      width: calc(100% - 160px)
      white-space: nowrap
      height: 50px
      float: left
      overflow: hidden
      .rec
        @extend .noselect
        display: inline-block
        position: relative
        width: 50px
        height: 50px
        box-sizing: border-box
        border-right: 1px solid $white-gray
        border-bottom: 1px solid $white-gray
        cursor: pointer
        &:hover
          // background-color: lighten($color-reverse, 40%)
          background-color: lighten($white-gray, 2%)
        .price, .stock
          position: absolute
          width: 50px
          text-align: center
          left: 0
          top: 15px
          font-size: 9pt
          color: lighten($font-color-defualt, 30%)
        .price
          display: none
        .stock
          font-size: 11pt
          color: lighten($font-color-defualt, 50%)
          &.over
            color: $font-color-thic
    &.assign-ui
      height: 0
      overflow: hidden
      .badge
        margin: 0 5px
      .room-name
        background-color: $color-dark
        border-color: $color-dark
        color: white
      .chart-wrapper
        .rec
          background-color: $color-dark
          border-color: $color-dark
      &.show
        height: auto

  .bar
    z-index: 10
    background-color: $gray
    display: block
    position: absolute
    left: 0
    top: 0
    height: 50px
    box-sizing: border-box
    border: 1px solid rgba(black, 0.05)
    &.booking
      background: $color-booking
      &:hover
        background: darken($color-booking, 5%)
    &.booked
      background: $color-booked
      &:hover
        background: darken($color-booked, 5%)
    &.paid
      background: $color-paid
      &:hover
        background: darken($color-paid, 5%)
    &.checkin
      background: $color-checkin
      &:hover
        background: darken($color-checkin, 5%)
    &.checkout
      background: $color-checkout
      &:hover
        background: darken($color-checkout, 5%)
    &.ect
      background: $color-ect
      &:hover
        background: darken($color-ect, 5%)
    &.disabled
      background: $color-disabled
      &:hover
        background: darken($color-disabled, 5%)
    .name
      color: white
      padding: 14px 5px 0 10px
      font-size: 10pt
      overflow: hidden
      white-space: nowrap
      text-overflow: ellipsis

  .dorm-wrapper
    margin: 0 -40px 0 -40px
    border-top: 1px solid $gray
    .dorm-name
      margin-left: 20px
      padding-right: 10px
      width: 60px
      display: inline-block
      vertical-align: middle
      color: $font-color-thic
      font-size: 10pt
      word-break: keep-all
    .beds
      width: calc(100% - 90px)
      display: inline-block
      vertical-align: middle
      .room-line
        margin: 0
        .room-name
          width: 69px
          font-size: 9pt
          top: 2px
          border-left: 1px solid $white-gray
          text-align: center
          padding: 19px 8px 30px 8px
          &:hover
            padding: 9px 8px 40px 8px
            transition: all 0.5s
        .chart-wrapper
          width: calc(100% - 69px)

// Stock-table Page
.board.stock-table
  .roomtype-title.toggle
    cursor: pointer
  .room-line
    .chart-wrapper
      .rec
        .stock
          color: lighten($font-color-defualt, 50%)
        .price
          display: block
          top: 33px
          font-size: 8pt
        &.selected
          background-color: lighten($color-reverse, 30%)
          border-color: lighten($color-reverse, 30%)
          .stock, .price
            color: darken($color-reverse, 0%)
        &.revised
          .stock
            color: $color-reverse
          .price
            color: lighten($color-reverse, 20%)


    .room-name.agency
      height: 22px
      padding: 15px 10px 34px 20px
      font-size: 9pt
      img
        vertical-align: middle
        width: 22px
        height: 22px
        margin-right: 7px
        position: relative
        top: -1px
  .room-line.base
    .rec
      .stock
        color: $font-color-thic

// Reservation Window
.modal-pack
  .modal-board
    position: fixed
    width: 953px
    height: 680px
    top: calc(50vh - 340px)
    left: calc(50vw - 477px)
    overflow: hidden
    .title-bar
      position: relative
      background: $color-dark
      color: white
      font-weight: $font-light
      height: 18px
      padding: 15px 20px
      .close
        position: absolute
        right: 15px
        top: 15px
        opacity: 0.5
    section
      float: left
      width: 270px
      height: 590px
      overflow-y: auto
      border-right: 1px solid lighten($gray, 8%)
      .header
        background-color: $white-gray
        padding: 15px 20px
        border-bottom: 1px solid lighten($gray, 8%)
        > .title
          float: left
          img
            opacity: 0.7
            vertical-align: middle
            padding-right: 10px
            position: relative
            top: 1px
          span
            vertical-align: middle
            font-size: 12pt
            position: relative
            top: 2px
        .num
          float: right
          padding-top: 4px
      .content
        padding: 20px 20px 0 20px

    section.payment
      .header .title img
        top: 2px
      .card-history
        margin-left: 40px
        .text, .amount
          font-size: $font-size-xsmall
          display: inline-block
        .text
          width: 115px
        .amount
          display: inline-block
          width: 75px
          text-align: right
    section.status
      width: 140px
      border-right: none
      overflow: hidden
      .header
        padding: 18px 20px 16px 20px
        .title
          float: none
          text-align: center
      ul li
        padding: 23px 0 21px 0
        text-align: center
        border-bottom: 1px solid lighten($gray, 8%)
        cursor: pointer
        &.active, &:hover
          color: white
          border: none
          padding-bottom: 22px
          &.booking
            background: $color-booking
          &.booked
            background: $color-booked
          &.paid
            background: $color-paid
          &.checkin
            background: $color-checkin
          &.checkout
            background: $color-checkout
          &.etc
            background: $color-ect
          &.disabled
            background: $color-disabled
          &.canceled
            background: $red

    section.buttons
      width: 100%
      height: 60px
      .btn
        text-align: center

    section.sms
      width: 100%

#s-window.modal-pack
  section
    .content
      .channel-wrapper
        background: $white-gray
        padding: 20px
        margin-bottom: 20px
        h4
          display: inline-block
          vertical-align: top
          width: 240px
        ul
          display: inline-block
#s-window-small
  .modal-board
    width: 353px
    left: calc(50vw - 177px)
    height: 550px
    top: calc(50vh - 285px)
    section
      height: 460px


// Bar Hover Layer
.hover-layer
  z-index: 12
  position: absolute
  left: 0
  top: 0
  width: 300px
  background: white
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3)
  li
    padding: 15px 20px
    .label
      font-size: 10pt
      color: lighten($font-color-defualt, 30%)
      font-weight: $font-light
    .text
      color: $font-color-thic
  .title
    border-bottom: 1px solid $white-gray
    background: lighten($white-gray, 2%)
    .status
      width: 63px
      display: inline-block
      vertical-align: middle
    .name
      display: inline-block
      width: 197px
      text-overflow: ellipsis
      white-space: nowrap
      overflow: hidden
      vertical-align: middle
  .checkin, .checkout, .id
    float: left
    width: 59px
    height: 40px
    border-bottom: 1px solid $white-gray
    .text
      font-family: 'Roboto'
  .checkin, .checkout
    border-right: 1px solid $white-gray
    white-space: nowrap
    .text
      font-size: 23px
  .id
    width: 60px
    .text
      margin-top: 7px
      font-size: 11pt
  .balance
    border-bottom: 1px solid $white-gray
    .label
    .text
      font-size: 32pt
      text-align: center
      font-weight: $font-light
      font-family: 'Roboto'
  .agency
    border-bottom: 1px solid $white-gray
    .label
      margin-bottom: 5px
    .text
      strong
        margin-right: 1em
  li.memo
    .label
      margin-bottom: 5px
    .text
      white-space: pre-line
  &#rec-hover-layer
    .agency
      strong
        display: inline-block
        width: 140px
      .price
        width: 105px
        display: inline-block
        text-align: right

// login Page
body.login
  background-color: $color-brand
.login-wrapper
  position: relative
  // width: 560px
  width: 420px
  margin: 200px auto 100px auto
  &::before
    position: absolute
    top: -8px
    left: -140px
    display: block
    content: url('/images/logo.png')
  p
    color: rgba(white, 0.7)
  h1
    color: white
    font-weight: $font-thin
  .form-group
    label, .counter
      color: rgba(white, 0.7)
      font-weight: $font-light
  .btn-white
    width: 140px
    text-align: center
  .outer-login-button
    text-align: left
    padding: 0 0 0 0
    width: 200px
    height: auto
    img
      width: 30px
      padding: 7px
      margin-right: 10px
      vertical-align: middle
      border-right: 1px solid $white-gray
    span
      position: relative
      top: 2px
      color: $font-color-defualt
      font-size: $font-size-small
    &:hover
      img
        border-right: 1px solid rgba(white, 0.1)
  a.link
    font-weight: $font-light
    i.fa
      margin-right: 3px
      color: rgba(white, 0.7)
    span
      color: rgba(white, 0.7)
  a.find-password
    position: absolute
    right: 0
    top: 11px
    font-size: $font-size-small
    white-space: nowrap
  .devider
    border-color: rgba(white, 0.2)
  input
    &[type="checkbox"]
      + label
        color: rgba(white, 0.7)

  .folder
    overflow: hidden
    &.folded
      height: 0
    &.unfolded
      height: auto

  .readonly-textbox
    margin-bottom: 20px

// step-update Page
.step-update
  .select-list
    .left
      padding-top: 12px
      color: $font-color-thic
    .right
      width: 200px
      .form-group
        margin-bottom: 0

// Contract Page
.attachment-wrapper
  float: left
  text-align: center
  margin: 20px
  img
    border: 1px solid $white-gray
    width: 160px

// Start Page
table.start
  border-spacing: 10px
  .form-group
    margin-bottom: 0
  h1
    padding-top: 4px

// Today Checkin Page
table.banners
  width: calc(100% + 20px)
  border-spacing: 10px
  margin: 0 -10px 0 -10px
  .title, .sub, .number
    color: white
  td
    width: 33%
    padding: 18px 20px
    .title
      float: left
      font-size: 14pt
      font-weight: $font-light
      .sub
        text-transform: uppercase
        font-weight: $font-light
        font-size: 9pt
        white-space: nowrap
    .number
      float: right
      font-size: 31pt
      margin: -10px 0
      font-weight: $font-medium

// Room Detail Page
table.room-calendar
  min-width: 700px
  thead
    th
      border-bottom: 1px solid lighten($gray, 10%)
      font-size: 10pt
      padding-bottom: 5px
      &.weekend
        color: lighten($red, 10%)
  tbody
    td
      @extend .noselect
      position: relative
      border-right: 1px solid lighten($gray, 10%)
      border-bottom: 1px solid lighten($gray, 10%)
      width: 10%
      padding-top: 14.2%
      cursor: pointer
      &:first-child
        border-left: 1px solid lighten($gray, 10%)
      .day
        font-size: 14pt
        color: $font-color-thic
        position: absolute
        top: 7px
        right: 13px
        &.weekend
          color: lighten($red, 10%)
      .content
        position: absolute
        bottom: 10px
        right: 13px
        text-align: right
        line-height: 1.2em
        opacity: 0.7
      .today
        font-size: 11pt
        color: $font-color-thic
        position: absolute
        top: 11px
        left: 13px
        font-weight: bold
      &.dimed
        *
          color: darken($white-gray, 10%) !important
      .revised
        position: absolute
        top: 0
        left: 0
        width: calc(100% + 1px)
        height: 42px
        background-color: rgba($color-priority, 0.7)
        .title
          color: white
          padding: 12px 0 0 5px
          white-space: nowrap
          text-overflow: ellipsis
          overflow: hidden
          font-size: 9pt
      &.selected
        background-color: lighten($color-reverse, 20%)
        border-color: $color-reverse
        *
          color: $color-reverse !important

// GDS page
table
  td
    img.logo-img
      vertical-align: middle
      width: 36px
      height: 36px
      margin: 0 10px 0 0

// SMS page
.tag-buttons
  a.btn
    margin: 5px

// Agreement page
.signature
  width: 300px
  padding: 20px 40px
  background: $white-gray
  img
    width: 100%
  h2
    border-top: 2px solid $color-dark

.pre-line
  white-space: pre-line
img.sign
  margin-left: 20px
  display: none


@media print
  .no-print-page
    display: none
  h1, p
    color: black
  .modal .modal-board
    position: absolute
    top: 0
    left: 0
    height: 100%
    .modal-body
      height: 100%
  img.sign
    display: block

// Report pages
.board.report
  min-width: 922px
.report-layout
  width: 30%
  min-width: 276px
  float: left
  margin-right: 5%
  &.full-width
    width: 100%
    margin: 0
    float: none
  &.col-2
    width: 47%
    margin-right: 6%
  .controls
    text-align: right
    a.btn
      margin-left: -1px
    .active
      background: $white-gray
    i.fa
      position: relative
      top: -1px
  .circle-chart
    margin: 10px 0
  table.chart-desc
    opacity: 0.7
    margin: 0 auto
    width: 200px
    th, td
      padding: 5px 0
      color: $font-color-thic
    th
      text-align: left
      .tag
        height: 12px
        width: 0px
        margin-right: 7px
    td
      text-align: right

// ---------- DOCS Only  ---------- //
.colorbox
  float: left
  margin: 20px
  width: 180px
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.3)
  *
    text-align: center
