// ---------- VARIABLES ---------- //

$color-brand: #D9480F
$color-priority: #FD7E14
$color-dark: #495057
$color-white-gray: #EBEBEB

$font-size-default: 14px
$font-size-small: 12px
$font-size-xsmall: 10px


// ---------- QUICK STYLE CSS  ---------- //

.white-gray
  background: $color-white-gray

.text-small, .text-small *
  font-size: $font-size-small

.text-xsmall, .text-xsmall *
  font-size: $font-size-xsmall

.text-center
  text-align: center !important


// ---------- INITAILIZE  ---------- //

body,p,ul,li,h1,h2,h3,h4,h5,h6
  margin: 0
  padding: 0

body,body *
  font-family: 'Roboto', sans-serif
  font-weight: 300
  font-size: $font-size-default
  color: $color-dark
body
  background-color: $color-dark
a
  text-decoration: none
p
  line-height: 1.5em
strong
  font-weight: 500
ul,li
  list-style: none
.icon
  position: relative
  top: -0.1em
  vertical-align: middle
  padding-right: 0.5em




// ---------- MIXINS  ---------- //

=inner-shadow($color)
  -moz-box-shadow:    inset 1px 1px 0 $color
  -webkit-box-shadow: inset 1px 1px 0 $color
  box-shadow:         inset 1px 1px 0 $color

=border-radius($radius)
  -webkit-border-radius: $radius
  -moz-border-radius:    $radius
  -ms-border-radius:     $radius
  border-radius:         $radius

=darker-background($value)
  background-color: rgba(0, 0, 0, $value)

=lighten-background($value)
  background-color: rgba(255, 255, 255, $value)



// ---------- COMPONETS  ---------- //

.badge
  font-size: 13px
  color: white
  width: 16px
  height: 16px
  padding: 4px
  text-align: center
  background-color: $color-priority
  +border-radius(13px)

.pop-layer
  position: absolute
  background: white
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5)
  &.listbox
    max-height: 600px
    overflow-y: scroll
  &.listbox > li
    position: relative
    border-bottom: 1px solid $color-white-gray
    text-align: left
    cursor: pointer
    &:hover
      background-color: $color-white-gray
    .title
      font-weight: 500
      margin-bottom: 11px
    p
      opacity: 0.8
      .text-xsmall
        opacity: 0.6
    .close
      position: absolute
      top: 15px
      left: 200px
      display: block
      width: 22px
      height: 22px
      background: url(/images/icons/close.svg) 5px 5px no-repeat
      +border-radius(13px)
      opacity: 0.7
      &:hover
        +darker-background(0.1)



// ---------- LAYOUTS  ---------- //

#topbar
  min-width: 1020px
  height: 60px
  background-color: $color-brand
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3)


  .left-wrapper
    float: left
    padding: 0 0 0 20px
    min-width: 600px

    > *
      float: left
      vertical-align: middle
    .logo img
      width: 51px
      height: 34px
      margin: 16px 20px 0 0
      opacity: 0.9
      &:hover
        opacity: 1
    .company-name
      margin: 20px 40px 0 0
      color: rgba(255, 255, 255, 0.8)
      font-size: 18px
      &:hover
        color: rgba(255, 255, 255, 0.9)
    .search-box
      margin-top: 15px
      width: 220px
      height: 14px
      padding: 9px 13px 7px 13px
      background: url(/images/icons/search.svg) no-repeat right 10px top 8px rgba(255, 255, 255, 0.1)
      +inner-shadow(#B83806)
      +border-radius(21px)
      border: none
      color: white
      &:hover
        +lighten-background(0.2)
      &:focus
        +lighten-background(0.2)
        outline: none
      $placeholder-color: rgba(255, 255, 255, 0.4)
      &::placeholder
        color: $placeholder-color
      &::-webkit-input-placeholder
        color: $placeholder-color
      &::-moz-placeholder
        color: $placeholder-color
      &:-ms-input-placeholder
        color: $placeholder-color
      &:-moz-placeholder
        color: $placeholder-color

  .right-wrapper
    float: right
    min-width: 400px

    .toptab
      position: relative
      display: block
      float: right
      width: 40px
      height: 30px
      text-align: center
      padding: 16px 10px 14px 10px
      cursor: pointer
      &.account
        width: auto
        min-width: 48px
        height: 24px
        color: rgba(255, 255, 255, 0.8)
        background: url(/images/icons/male.svg) no-repeat 15px 17px
        padding: 22px 20px 14px 45px
      &:hover, &.active
        +darker-background(0.1)
      > .badge
        position: absolute
        top: 26px
        left: 31px
        border: 1px solid $color-brand
      .pop-layer
        top: 60px
        left: 0
        &.listbox > li
          width: 192px
          padding: 18px 20px 16px 20px
