include ../includes/header.pug
body
  .wrapper
    include ../includes/leftnav-docs.pug
    
    .context-menu
      .layover
      ul
        li 액선 1
        li 액션 2
        li 액션 3
    
    #content.unfolded(name='buttons')
      .board.full-width
        h1.lined buttons
        h2 Defualt size
        .padding
          a.btn DEFAULT
          span.empty
          a.btn.btn-white WHITE
          span.empty
          a.btn.btn-white-gray WHITE GRAY
          span.empty
          a.btn.btn-gray GRAY
          span.empty
          a.btn.btn-dark DARK
          span.empty
          a.btn.btn-reverse REVERSE
          span.empty
          a.btn.btn-green GREEN
          span.empty
          a.btn.btn-red RED
        .margin
          
        h2 small size
        .padding
          a.btn.btn-small DEFAULT
          span.empty
          a.btn.btn-small.btn-white WHITE
          span.empty
          a.btn.btn-small.btn-white-gray WHITE
          span.empty
          a.btn.btn-small.btn-gray GRAY
          span.empty
          a.btn.btn-small.btn-dark DARK
          span.empty
          a.btn.btn-small.btn-reverse REVERSE
          span.empty
          a.btn.btn-small.btn-green GREEN
          span.empty
          a.btn.btn-small.btn-red RED
        .margin
          
        h2 xsmall size
        .padding
          a.btn.btn-xsmall DEFAULT
          span.empty
          a.btn.btn-xsmall.btn-white WHITE
          span.empty
          a.btn.btn-xsmall.btn-white-gray WHITE GRAY
          span.empty
          a.btn.btn-xsmall.btn-dark DARK
          span.empty
          a.btn.btn-xsmall.btn-gray GRAY
          span.empty          
          a.btn.btn-xsmall.btn-reverse REVERSE
          span.empty          
          a.btn.btn-xsmall.btn-green GREEN
          span.empty          
          a.btn.btn-xsmall.btn-red RED
        .margin
          
        h2 Border Button
        .padding
          a.btn.btn-border DEFAULT
          span.empty          
          a.btn.btn-dark.btn-border DARK
          span.empty
          a.btn.btn-gray.btn-border GRAY
          span.empty
          a.btn.btn-reverse.btn-border REVERSE
          span.empty
          a.btn.btn-green.btn-border GREEN   
          span.empty
          a.btn.btn-red.btn-border RED
        .margin
          
        h2 icon buttton
        .padding
          a.btn 
            i.fa.fa-cloud-upload.fa-lg
            span 사진업로드            
          span.empty
          a.btn.btn-gray 
            i.fa.fa-cog.fa-lg
            span Settings
          span.empty
          a.btn.btn-white-gray
            i.fa.fa-trash-o.fa-lg
            span Delete
          span.empty
          a.btn.btn-reverse
            i.fa.fa-circle-o-notch.fa-spin.fa-lg
            span 저장중...
          span.empty
          a.btn.btn-green.openContextMenu
            span Menu
            span.empty
            i.fa.fa-angle-down.fa-lg
        .margin   
        h2 Long Button
        .padding
          a.btn.btn-long BUTTON
        .margin
        
        h2 full width
        .padding
          a.btn.full-width BUTTON
        .margin
          
        h2 Switch Button
        .padding 
          a.btn.btn-switch 일
          a.btn.btn-switch 월
          a.btn.btn-switch 화
          a.btn.btn-switch 수
          a.btn.btn-switch 목
          a.btn.btn-switch.on 금
          a.btn.btn-switch.on 토
            
          
