include ../includes/header.pug
.wrapper
  include ../includes/leftnav-docs.pug
  
  #content.unfolded(name='colors')
    .board.full-width
      h1.lined colors      
      .colorbox
        .text.padding.text-brand .text-brand
        .view.padding-2x.text-white.bg-brand .bg-brand        
        .sass.padding $color-brand      
      .colorbox
        .text.padding.text-priority .text-priority
        .view.padding-2x.bg-priority.text-white .bg-priority
        .sass.padding $color-priority
      .colorbox
        .text.padding.text-dark .text-dark
        .view.padding-2x.bg-dark.text-white .bg-dark
        .sass.padding $color-dark
      .colorbox
        .text.padding.text-reverse .text-reverse
        .view.padding-2x.bg-reverse.text-white .bg-reverse
        .sass.padding $color-reverse
      
      .clear-fix
      
      .colorbox
        .text.padding.text-gray .text-gray
        .view.padding-2x.bg-gray .bg-gray
        .sass.padding $gray
      .colorbox
        .text.padding.text-gray .text-white-gray
        .view.padding-2x.bg-white-gray .bg-white-gray
        .sass.padding $white-gray
      .colorbox
        .text.padding.text-red .text-red
        .view.padding-2x.bg-red.text-white .bg-red
        .sass.padding $red
        
      .clear-fix
