include ../includes/header.pug
.wrapper
  include ../includes/leftnav-docs.pug
  
  #content.unfolded(name='elements')
    .board.full-width
      h1.lined elements            
      .row
        .col-2-left
          h2 TAGS
          .margin
          .tag.blue BLUE
          span.empty
          .tag.skyblue SKY BLUE
          span.empty
          .tag.green GREEN
          span.empty
          .tag.red RED
          span.empty
          .tag.orange ORANGE
          span.empty
          .tag.yellow YELLOW
          span.empty
          .tag.purple PURPLE
          span.empty
          .tag.gray GRAY
          
          .margin-2x
            
          h2 Badges
          .margin
          
          .badge.blue 1
          span.empty
          .badge.skyblue 5
          span.empty
          .badge.green 24
          span.empty
          .badge.red A
          span.empty
          .badge.orange N
          span.empty
          .badge.yellow +
          span.empty
          .badge.purple 완
          span.empty
          .badge.gray 판
          
        .col-2-right
            
          
