include ../includes/header.pug
.wrapper
  include ../includes/leftnav-docs.pug
  
  #content.unfolded(name='elements')
    .board.full-width
      h1.uppercase elements      
      .devider
      .row
        .col-2-left
        .col-2-right
            
          
