include ../includes/header.pug
.wrapper
  include ../includes/leftnav-docs.pug
  
  #content.unfolded(name='elements')
    .board.full-width
      h1.uppercase elements      
      .devider
      .row
        .col-2-left
          h2.margin buttons
          h3.margin-thin Defualt size
          .margin
            a.btn DEFAULT
            | &nbsp;&nbsp;
            a.btn.btn-white WHITE
          h3.margin-thin small size
          .margin
            a.btn.btn-small DEFAULT
            | &nbsp;&nbsp;
            a.btn.btn-small.btn-white WHITE
          h3.margin-thin icon buttton
          .margin
            a.btn 
              i.fa.fa-cloud-upload.fa-lg
              span 사진업로드            
            | &nbsp;&nbsp;
            a.btn.btn-white 
              i.fa.fa-cog.fa-lg
              span Settings
            | &nbsp;&nbsp;
            a.btn.btn-white 
              i.fa.fa-trash-o.fa-lg              
            | &nbsp;&nbsp;
            a.btn 
              i.fa.fa-circle-o-notch.fa-spin.fa-lg
              span 저장중...
          h3.margin-thin full width
          .margin
            a.btn.full-width BUTTON
          
          
          .col-2-right
            
          
