include ../includes/header.pug
.wrapper
  include ../includes/leftnav-docs.pug
  
  #content.unfolded(name='elements')
    .board.full-width
      h1.lined elements            
      .content-wrapper
        h2 TAGS
        .margin
        .tag.blue BLUE
        span.empty
        .tag.skyblue SKYBLUE
        span.empty
        .tag.green GREEN
        span.empty
        .tag.red RED
        span.empty
        .tag.orange ORANGE
        span.empty
        .tag.yellow YELLOW
        span.empty
        .tag.purple PURPLE
        span.empty
        .tag.gray GRAY
        
        .margin-2x
          
        h2 Badges
        .margin
        
        .badge.blue 1
        span.empty
        .badge.skyblue 5
        span.empty
        .badge.green 24
        span.empty
        .badge.red A
        span.empty
        .badge.orange N
        span.empty
        .badge.yellow +
        span.empty
        .badge.purple 완
        span.empty
        .badge.gray 판
        
        .margin-2x
        
        h2 Info box
        .margin
        
        .info
          i.fa.fa-info-circle.fa-lg
          | 리스트를 위아래로 드래그하면 순서를 변경할 수 있습니다.
          a.link.close
            i.fa.fa-times-circle.fa-lg
              
        .margin
          
        .info.bg-priority
          i.fa.fa-exclamation-triangle.fa-lg
          | 주의하는 것이 좋을 것입니다.
          a.link.close
            i.fa.fa-times-circle.fa-lg
        
        .margin
        
        .info.bg-red
          i.fa.fa-ban.fa-lg
          | 그 결과는 겉잡을 수 없을지도 모릅니다.
          a.link.close
            i.fa.fa-times-circle.fa-lg
            
          
