include ../includes/header.pug
.wrapper
  include ../includes/leftnav-docs.pug
  
  #content.unfolded
    .board.full-width
      h1 Empty page - Full width
      br
      h1 h1 Typography
      h2 h2 Typography
      h3 h3 Typography
      h4 h4 Typography
      h5 h5 Typography
      h6 h6 Typography
      br
      .text-defualt .text-defualt
      .text-small .text-small
      .text-xsmall .text-xsmall
      br
      .font-thin .font-thin
      .font-light .font-light
      .font-normal .font-normal
      .font-medium .font-medium
      .font-bold .font-bold
      br
      .text-red .text-red
      .dark-navy.text-white .text-white
