include ../includes/header.pug
.wrapper
  include ../includes/leftnav-docs.pug
  
  #content.unfolded(name='empty-page')
    .board.full-width
      h1.lined Empty page - Full width Board      
      .content-wrapper            
