include ../includes/header.pug
body
  .wrapper
    include ../includes/leftnav-docs.pug 
    
    
    #content.unfolded(name='empty-page4')
      .board.centered
        h1.lined centered Board      
        .content-wrapper
          p This layout could be used for independent pages.
