include ../includes/header.pug
body
  .wrapper
    include ../includes/leftnav-docs.pug
    
    #content.unfolded(name='empty-page')
      .board.full-width
        h1.lined Full width Board      
        .content-wrapper
          p This layout could be used for no-depth menu.
