include ../includes/header.pug
.wrapper
  include ../includes/leftnav-docs.pug
  
  #content.unfolded(name='empty-page2')
    #sub-menu
      h4.title 
        img.icon(src='/images/icons/door-black.svg')
        | 페이지제목
      ul
        li.active 서브메뉴1
        li 서브메뉴2
        li 서브메뉴3
        li 서브메뉴4 
    .board
      .title-bar
        h4 서브페이지 제목
      .sub-left
        ul
          li
            a.active(href='#') 뎁쓰메뉴1
          li
            a(href='#') 뎁쓰메뉴2
          li
            a(href='#') 뎁쓰메뉴3
      .sub-content
        .content-wrapper
          h1.uppercase Empty Page2 - Depth menu
