include ../includes/header.pug
.wrapper
  include ../includes/leftnav-docs.pug
  
  #content.unfolded(name='form-controls')
    .board.full-width
      h1.uppercase form controls
      .devider
        
