include ../includes/header.pug
body
  .wrapper
    include ../includes/leftnav-docs.pug
    
    #content.unfolded(name='layout')
      .board.full-width.layout-demo
        h1.lined layout      
        h2 Grid system
        p.margin .row 하위에 .col-1부터 .col-12까지 12등분으로 적절히 사용하면 됩니다.
        
        .row
          .box.col-12
            .bg-white-gray.padding .col-12
        
        .margin
        
        .row
          .box.col-4
            .bg-white-gray.padding .col-4
          .box.col-8
            .bg-white-gray.padding .col-8
        
        .margin
      
        .row
          .box.col-4
            .bg-white-gray.padding .col-4
          .box.col-4
            .bg-white-gray.padding .col-4      
          .box.col-4
            .bg-white-gray.padding .col-4
          
        .margin
          
        .row
          .box.col-6
            .bg-white-gray.padding .col-6
          .box.col-6
            .bg-white-gray.padding .col-6
        
        .margin-2x
          
        h2 CONTENT WRAPPER
        .content-wrapper
          p.margin
            i .content-wrapper
            |  는 
            i max-width: 700px 
            |  속성을 가집니다. 와이드 화면에서 컨텐츠가 지나치게 길어지는 것을 방지하기 위함입니다.        
          .row
            .box.col-12
              .bg-white-gray.padding .col-12
          .margin
          .row
            .box.col-6
              .bg-white-gray.padding .col-6
            .box.col-6
              .bg-white-gray.padding .col-6
          
          .margin-2x
            
            
          h2 Border, Padding &amp; margin
          p.margin 기본 Grid는 20px 입니다. Padding은 4방향 모두, Margin은 Bottom에만 적용됩니다.
          .border.padding.margin .border
          .border-light.padding.margin .border-light
          .bg-white-gray.padding-thin.margin .padding-thin
          .bg-white-gray.padding.margin .padding
          .bg-white-gray.padding-2x.margin .padding-2x
          .border-light.margin-thin
            .bg-white-gray.padding.margin-thin .margin-thin
          .border-light.margin
            .bg-white-gray.padding.margin .margin
          .border-light.margin-2x
            .bg-white-gray.padding.margin-2x .margin-2x        
          
          h2.margin FLOAT        
          .row.padding.margin-2x
            .bg-white-gray.float-left.padding .float-left
            .bg-white-gray.float-right.padding .float-right
            .clear-fix
            .margin            
            .bg-white-gray.float-none.padding .float-none        
            
          h2.margin TEXT ALIGN
          .bg-white-gray.text-left.padding .text-left
          .bg-white-gray.text-center.padding .text-center
          .bg-white-gray.text-right.padding.margin-2x .text-right        
            
          h2.margin DEVIDER
          p .devider
          .devider
          
          h2.margin WORD SPACING
          p= '인라인에서 가로간격을 띄울때에는 &nbsp; 대신 span.empty 을 사용하세요.'
          .margin 
          p.font-color-thic
            | span.empty
            span.empty
            | Next Text
          .margin
          p.font-color-thic
            | span.empty-2x
            span.empty-2x
            | Next Text
          
          .margin-2x
        
        
          
