include ../includes/header.pug
.wrapper
  include ../includes/leftnav-docs.pug
  
  #content.unfolded(name='list-table')
    .board.full-width
      h1.lined list table      
      table.table
        thead
          tr
            th 예약번호
            th 숙소이름
            th 객실이름
            th 고객명
            th.text-center 가운데정렬
            th.text-right 우측정렬           
            th.text-right 버튼
        tbody
          tr
            td 
              a.link 8100514
            td 티포트 펜션
            td 개발트윈룸
            td James Huh
            td.text-center 2017-10-15
            td.text-right ₩ 270,000
            td.text-right
              a.btn.btn-xsmall.btn-white
                i.fa.fa-pencil
                span 수정
          tr
            td 
              a.link 8100513
            td 판교라마다호텔
            td Deluxe Room
            td 유정연
            td.text-center 2017-10-17
            td.text-right ₩ 160,000
            td.text-right
              a.btn.btn-xsmall.btn-white
                i.fa.fa-pencil
                span 수정         
            
          
